.col-2{
    text-align: center;
}

.form{
    /*
    background-color: #FFD580;
    */
    padding-top: 5px;
    border-radius: 5px;
    border: 15px #FFD580;
}
.form .grupo_form label{
    display: block;
    color: seagreen;
}
.form .grupo_form input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: #FFD580 2px solid;
}