*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    padding: 20px;
    align-items: center;
    display: flex;
}
nav{
    flex: 1;
    text-align: center;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 30px;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
/*Pondremos otros colores*/
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.fila{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 80%;
    padding: 10px 0;
    padding-left: 100px;

}
.col-2 h1{
    font-size: 40px;
    line-height: 25px;
    margin: 25px 0;
}